<div class="container mt-4">
  <div class="text-end">
    <button class="btn btn-outline-success mb-3" [routerLink]="['/log']">Ir para o LOGS</button>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Buscar GitHub User</h2>
      <div class="input-group mb-3">
        <input [(ngModel)]="userName" class="form-control" placeholder="Nome de usuário" />
        <button class="btn btn-primary" (click)="fetchUser()">Buscar</button>
      </div>
      <div *ngIf="errorUser" class="alert alert-danger">{{ errorUser }}</div>
      <div *ngIf="user as u" class="card p-4 shadow-sm mt-4">
        <div class="row">
          <div class="col-md-3 text-center">
            <img [src]="u.avatar_url" alt="Avatar" class="img-fluid rounded-circle mb-3" />
            <a class="btn btn-outline-primary" [href]="u.html_url" target="_blank">
              Ver no GitHub
            </a>
          </div>
          <div class="col-md-7">
            <h3>{{ u.name }} <small class="text-muted">({{ u.login }})</small></h3>
            <p *ngIf="u.bio">{{ u.bio }}</p>
            <p><strong>Empresa:</strong> {{ u.company }}</p>
            <p><strong>Localização:</strong> {{ u.location }}</p>
            <p>
              <strong>Blog: </strong>
              <a *ngIf="u.blog" [href]="u.blog" target="_blank">{{ u.blog }}</a>
            </p>
            <p>
              <strong>Repositórios:</strong> {{ u.public_repos }} |
              <strong>Gists:</strong> {{ u.public_gists }}
            </p>
            <p>
              <strong>Seguidores:</strong> {{ u.followers }} |
              <strong>Seguindo:</strong> {{ u.following }}
            </p>
            <p>
              <strong>Conta criada:</strong> {{ u.created_at }}
            </p>
          </div>
          <div class="col-md-2">
            <button class="btn btn-outline-success mb-2" [routerLink]="['/following/'+u.login]">Buscar Following</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>